<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api routes</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid container-main bg-dark d-flex justify-content-center align-items-center">
        <div class="row">
            <h2 class="text-light">What do you want to do?</h2>
            <div class="col d-flex flex-column gap-3">
                <button class="btn btn-primary" id="list_users">List users</button>
                <button class="btn btn-secondary" id="add_user">Add an user</button>
                <button class="btn btn-light">Search an user by name</button>
            </div>
        </div>
    </div>



    <div class="users d-none bg-dark d-flex justify-content-center align-items-center">
        <h1 class="text-light">Choose one user to edit!</h1>
        <ul id="list" class="text-light">

        </ul>

        <form id="EditForm">
            <input type="text" placeholder="First Name" name="FirstName">
            <input type="text" placeholder="Last Name" name="LastName">
            <input type="text" placeholder="Biography" name="Biography">
            <button type="submit" id="edit">Edit</button>
        </form>


        <h1 class="text-light">Click in one of the names and here to delete</h1>

        <button id="Delete">Delete</button>
        <div class="d-block"><button id="returnList" class="btn btn-danger">Return</button></div>
    </div>

    <div class="d-none container-fluid container-add bg-dark d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="addUser">
                <h1 class="text-light">To add an User</h1>
                <div class="col d-flex flex-column gap-3">
                    <form id="UserForm" class="gap-5">
                        <input type="text" placeholder="First Name" name="FirstName" class="form-control">
                        <input type="text" placeholder="Last Name" name="LastName" class="form-control">
                        <input type="text" placeholder="Biography" name="Biography" class="form-control">
                        <div class="d-flex">
                            <button type="submit" id="send" class="btn btn-secondary mt-2 w-50">Send</button>
                            <button class="btn btn-danger mt-2 w-50" id="return">Return</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="SearchUser" style="display: none;">
        <h1>To search one user, write his name</h1>
        <form id="SearchForm">
            <input type="text" placeholder="Name" name="FirstName">
            <button type="submit" id="search">Search</button>
        </form>

        <ul id="listInfo">

        </ul>
    </div>
</body>

<script src="../static/app.js"></script>
<script src="../static/bootstrap/bootstrap.bundle.min.js"></script>

</html>